/*.App {*/
  /*text-align: center;*/
  /*color: white;*/
  /*display: flex;*/
  /*flex-direction: row;*/
  /*justify-content: space-around;*/
/*}*/

a {
  color: white;
  }

.App-logo {
  animation: App-logo-spin infinite 15s linear;
  height: 60px;
}

.pokedex-logo{
  background: url('../../src/images/pokedex_logo.png') center no-repeat;
  background-size: contain;
  width: 90px;
  height: 45px;
  }

.card-logo{
  background: url('../../src/images/card_logo.png') center no-repeat;
  background-size: contain;
  width: 90px;
  height: 45px;
  }

.App-header {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  background-color: #404040;
  height: 100px;
  color: white;
}

.page-title{
  text-align: center;
  font-size: 20px;
  font-weight: 600;
  color: black;
  }

.App-intro {
  font-size: large;
}

.home-img{
  margin:auto;
  background: url('../images/home-img.jpg') center no-repeat;
  background-size: contain;
  width: 638px;
  height: 359px;
  }

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
