.card {
	border: solid black 1px;
	border-radius: 5px;
	width: 150px;
	height: 200px;
	margin: 10px;
	padding: 5px 5px 30px 5px;
	box-shadow: 5px 5px 3px #888888;
	}

.img {
	width: 173px;
	height: 114px;
	background-color: white;
	margin-top: 3px;
	}

.desc {
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	width: 100px;
	height: 100px;
	}

.num {
	display: -ms-flexbox;
	width: 32px;
	float: left;
	font-size: 13px;
	margin: -5px 0 0 11px;
	height: 20px;
	}

.name {
	width: 125px;
	margin-left: 43px;
	text-align: left;
	font-family: sans-serif;
	font-weight: bold;
	padding-left: 4px;
	background-color: rgba(255, 255, 255, 0.5);
	}

.move1 {
	width: 140px;
	height: 24px;
	margin-left: 13px;
	margin-top: 20px;
	padding-top: 5px;
	padding-left: 35px;
	text-align: left;
	font-family: sans-serif;
	font-weight: 500;
	font-size: 14px;
	border-top: solid .5px black;
	border-bottom: solid .5px black;
	}

.move2 {
	width: 140px;
	height: 24px;
	margin-left: 13px;
	padding-top: 5px;
	padding-left: 35px;
	text-align: left;
	font-family: sans-serif;
	font-weight: 500;
	font-size: 14px;
	border-bottom: solid .5px black;
	}

.type{
	width: 125px;
	float: right;
	font-family: sans-serif;
	padding-top: 26px;
	padding-bottom: 10px;
	font-size: 10px;
	}

.card_flex {
	display: flex;
	flex-direction: row;
	flex-flow: wrap;
	}

.water1 {
	background: url("../../src/images/water1.png") center no-repeat;
	background-size: cover;
	width: 200px;
	height: 250px;
	}

.electric1 {
	background: url("../../src/images/electric1.png") center no-repeat;
	background-size: cover;
	width: 200px;
	height: 250px;
	}

.fire1 {
	background: url("../../src/images/fire1.png") center no-repeat;
	background-size: cover;
	width: 200px;
	height: 250px;
	}

.grass1 {
	background: url("../../src/images/grass1.png") center no-repeat;
	background-size: cover;
	width: 200px;
	height: 250px;
	}

.fighting {
	background: url("../../src/images/fighting.png") center no-repeat;
	background-size: cover;
	width: 200px;
	height: 250px;
	}

.flying {
	background: url("../../src/images/colorless.png") center no-repeat;
	background-size: cover;
	width: 200px;
	height: 250px;
	}

.psychic {
	background: url("../../src/images/psychic.png") center no-repeat;
	background-size: cover;
	width: 200px;
	height: 250px;
	}