.background {
	background: url("../../src/images/pokedex.png") center no-repeat;
	position: fixed;
	width: 800px;
	height: 600px;
	top: 40%;
	left: 40%;
	margin-top: -160px; /* Negative half of height. */
	margin-left: -250px; /* Negative half of width. */
}

table,
th,
td {
	border: 1px solid black;
	border-bottom: 1px;
	border-left: 1px;
	border-collapse: collapse;
}
th,
td {
	padding: 6px;
	width: 21px;
	font-size: 12px;
}

.table {
	position: absolute;
	top: 29px;
	left: 0px;
	width: 332px;
	height: 307px;
	max-height: 336px;
	max-width: 332px;
	overflow-y: scroll;
	list-style-type: none;
}

.table-header {
	position: absolute;
	top: 153px;
	left: 30px;
}

.id-header {
	position: fixed;
	width: 21px;
	height: 16px;
	background-color: white;
	border-bottom: 1px solid black;
	border-right: 1px solid black;
}

.name-header {
	position: fixed;
	margin-left: 34px;
	width: 284px;
	height: 16px;
	background-color: white;
	border-bottom: 1px solid black;
}

.tbl-name {
	width: 284px;
	font-weight: bold;
	font-size: 14px;
}

.tbl-row:hover {
	background-color: rgb(255, 226, 226);
	cursor: pointer;
}

.tbl-id {
	text-align: center;
}

.detail-box {
	position: absolute;
	top: 169px;
	left: 475px;
	border-radius: 4px;
	background-color: white;
	width: 259px;
	height: 338px;
	padding: 10px;
}

.detail-text {
	font-size: 16px;
	line-height: 21px;
	padding: 10px 5px;
}

.img-container {
	display: flex;
	flex-flow: row;
	justify-content: center;
}

.img {
	width: 173px;
	height: 114px;
	background-color: white;
	margin-top: 3px;
	border: solid gray 1px;
}
