.background {
	background: url('../../src/images/pokedex.png') center no-repeat;
	position: fixed;
	width: 800px;
	height: 600px;
	top: 40%;
	left: 40%;
	margin-top: -160px; /* Negative half of height. */
	margin-left: -250px; /* Negative half of width. */
	}

table, th, td {
	border: 1px solid black;
	border-collapse: collapse;
	}
th, td {
	padding: 6px;
	width: 63px;
	font-size: 12px;
	}

.table{
	position: absolute;
	top: 137px;
	left: -11px;
	width: 332px;
	height: 336px;
	max-height: 336px;
	max-width: 332px;
	overflow-y: scroll;
	list-style-type: none;
	}

.id{
	width: 22px;
	}

.name{
	width: 130px;
	}